<%= link_to cocktail_path(cocktail) do  %>
  <div class="card-trip m-3">
  <div class="card-trip-infos">
  <%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill %>

      <div>
        <h2><%= cocktail.name %></h2>
        <p>
          <% cocktail.doses.each do |dose| %>
            <%= "#{dose.description} de #{dose.ingredient.name}"%>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
